<!DOCTYPE html>
<html lang="en">
  <head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smash-Up Online</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
		<header id="game-info">
			<div class="player-info"></div>
			<div id="player-info-separator"></div>
			<div class="player-info"></div>
		</header>

		<main id="board">

		</main>

		<section id="hand">

		</section>

	<script src="javascripts/main.js"></script>
  </body>
</html>
