<!DOCTYPE html>
<html lang="en">
  <head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smash-Up Online</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
		<header id="game-info">
			<div class="player-info">5</div>
			<div class="player-info">3</div>
		</header>

		<main id="board">
			Bases and minions
		</main>

		<section id="hand">
			Cards in hand
		</section>

	<script src="javascripts/main.js" type="module"></script>
  </body>
</html>
